
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&subset=cyrillic,cyrillic-ext');

$font: 'Source Sans Pro', sans-serif;

$main-bg: #171717;
$main-color: #fff;

$transition: .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
$fast-transition: .25s cubic-bezier(0.3, 1, 0.4, 1) 0s;
